.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Quicksand';
    padding-top: 3vh;
    .header {
        padding-bottom: 3vh;
    }
    .body {
        display: flex;
        gap: 10vw;
    }
}